.ff{
    background: url('../assets/img/n1.gif');
    background-color: #cccccc; 
    height: 90px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
   }